*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(./img/background.jpeg) no-repeat center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.login-wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    position: relative;
    width: 100vw;   
    max-width: 600px;
    padding: 60px 40px 40px ;
}
.form h2{
    text-align: center;
    color: #000;
    font-weight: 500px;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form .input-place{
    position: relative;
}
.form .input-place input{
    border:1px solid rgb(216, 195, 195) ;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    background-color: rgb(244, 244, 245);
    padding: 14px 20px ;
    width: 100%;
    outline: none;
}

#user-pw{
    position: relative;
}
input ~  i{
    font-size: 24px;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    color: #000;
    transition: color 0.4s;
}
.checkbox{
    display: block;
    border-radius: 2px;
    /* position: absolute; */
    /* top: auto;
    left: 50px; */
    height: 25px;
    width: 25px;
    background-color: #eee;
    cursor: pointer;
}
.user-sp{
    display: flex;
    align-content:center ;
    justify-content: space-between;
}
.sp{
    /* position: absolute; */
    margin: 2px;
}
.sp-items{
    display: flex;

}
/* .text{
    font-weight: 100;
    position: relative;
    left: 42px;
    top: 3px; */

.form .fg-pw{
    display: flex;
    color: #000;
    float: right;
    text-decoration: none;
}
.form .fg-pw:hover{
    display: flex;
    color:burlywood;
    float: right;
    text-decoration: none;
}
.btn{
    display: block;
    margin: 20px auto;
    padding: 14px 40px;
    background: rgb(62, 121, 248);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    display: block;
    margin: 20px auto;
    padding: 14px 40px;
    background: rgb(206, 210, 219);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
#lang  {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3 ,6.4em);
    /* display:flex;*/
    align-items: center;
    justify-content: center;
} 
#lang .lang-type{
    display:flex;
    align-items: center;
    justify-content: space-around;

}
#lang .lang-type img{
    width: 50%;
    max-width: 20px;
    margin:5px 5px ;
}
#lang .lang-type a {
    text-decoration: none;
    color: rgb(106, 91, 236);
}
#lang .lang-type a:hover {
    text-decoration: none;
    color: #000;
}
.form .fg-pw {
    margin-top: 6px;
    color: #000;
    float: right;
    text-decoration: none;
}
/* Điện thoại */
@media only screen and (max-width:46.1875em) {
    .login-wrapper{
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .form{

    }
    #lang  {
        height: 14vh;
        display:grid;
        align-items: center;
        justify-content: center;
    }
    input ~  i{
        font-size: 18px;
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
        color: #000;
        transition: color 0.4s;
    }
    .user-sp{
        display: grid;
        grid-template-rows: repeat(2 ,2em);
        grid-auto-columns: 100%;
        align-items: center;
        justify-items: center;
        
    }
    .form h2{
        text-align: center;
        color: #000;
        font-weight: 500px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}
    
